<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LOGIN</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form action="./login" method="post">
            <label>USUARIO</label> <input type="text" id="txtUsuario" name="txtUsuario"><br>
            <label>CONTRASEÑA</label> <input type="password" id="txtPassword" name="txtPassword"><br>
            <input type="submit" value="INGRESAR">
        </form>        
    </body>
</html>